*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul, ol, li {
  list-style: none;
}
img {
  vertical-align: top;
  width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}
html, body {
  height: 100%;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  color: #070707;
  scroll-behavior: smooth;
}
.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.title {
  font-size: calc(34 * 100vw / 1440);
  font-weight: bold;
  line-height: calc(42 * 100vw / 1440);
}
.text {
  font-size: calc(18 * 100vw / 1440);
  font-weight: medium;
  line-height: calc(22 * 100vw / 1440);
}

.header__container {
  padding: calc(32 * 100vw / 1440) calc(250 * 100vw / 1440) 0;
  width: 100%;
  margin: 0 auto;
}
.header__content {
  display: flex;
  justify-content: space-between;
  padding-bottom: calc(32 * 100vw / 1440);
  border-bottom: solid calc(1 * 100vw / 1440) #828282;
}

.header__item {
  font-size: calc(18 * 100vw / 1440);
  font-weight: bold;
  line-height: calc(22 * 100vw / 1440);
  color: #828282;
  transition: color 250ms linear;
}
.header__item:hover {
  color: #070707;
}

.intro__container {
  width: 100%;
  margin: 0 auto;
  padding: calc(40 * 100vw / 1440) calc(250 * 100vw / 1440) calc(105 * 100vw / 1440);
}
.intro__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: calc(40 * 100vw / 1440);
}
.intro__title {
  font-size: calc(48 * 100vw / 1440);
  font-weight: bold;
  line-height: calc(60 * 100vw / 1440);
  width: calc(130 * 100vw / 1440);
}
.intro__text {
  width: calc(160 * 100vw / 1440);
}
.intro__language {
  font-size: calc(16 * 100vw / 1440);
  display: flex;
  transform: rotate(-90deg);
  position: relative;
  bottom: calc(20 * 100vw / 1440);
  right: calc(-25 * 100vw / 1440);
}
.language__item {
  color: #828282;
  cursor: pointer;
  transition: color 250ms linear;
}
.language__item-decor {
  font-weight: bold;
  padding: 0 calc(6 * 100vw / 1440)
}
.language__item:hover {
  color: #070707;
  font-weight: bold;
}

.about {
  background: #F6F6F6;
}
.about__container {
  text-align: center;
  padding: calc(120 * 100vw / 1440) calc(490 * 100vw / 1440) calc(110 * 100vw / 1440);
  width: 100%;
  margin: 0 auto;
}
.about__title {
  padding-bottom: calc(18 * 100vw / 1440);
}
.about__text .text__container p {
  padding-bottom: calc(25 * 100vw / 1440);
}
.about__text .text__container p:last-child {
  padding-bottom: 0;
}

.skills__container {
  text-align: center;
  padding: calc(91 * 100vw / 1440) calc(250 * 100vw / 1440) calc(110 * 100vw / 1440);
  width: 100%;
  margin: 0 auto;
}
.skills__title {
  padding-bottom: calc(70 * 100vw / 1440);
}
.skills__text {
  padding-bottom: calc(84 * 100vw / 1440);
}
.skills__content {
  display: flex;
  justify-content: space-between;
}
.skill {
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.skill__cover {
  height: calc(88 * 100vw / 1440);
  margin-bottom: calc(23 * 100vw / 1440);
}
.skill__title {
  text-align: center;
  font-size: calc(14 * 100vw / 1440);
  font-weight: bold;
  line-height: calc(17 * 100vw / 1440);
  color: #828282;
  width: calc(88 * 100vw / 1440);
  margin-bottom: calc(42 * 100vw / 1440);
}
.skill__rating {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.rating__star {
  width: calc(26 * 100vw / 1440);
}

.portfolio {
  background: #F6F6F6;
}
.portfolio__container {
  text-align: center;
  padding: calc(110 * 100vw / 1440) calc(250 * 100vw / 1440) calc(96 * 100vw / 1440);
  width: 100%;
  margin: 0 auto;
}
.portfolio__title {
  padding-bottom: calc(47 * 100vw / 1440);
}
.portfolio__card {
  padding-bottom: calc(100 * 100vw / 1440);
}
.portfolio__container .portfolio__card:last-child {
  padding-bottom: 0;
}
.card__cover {
  padding-bottom: calc(45 * 100vw / 1440);
}
.card__link {
  text-decoration: underline;
  color: inherit;

}

.contacts__container {
  padding: calc(114 * 100vw / 1440) calc(550 * 100vw / 1440) calc(140 * 100vw / 1440);
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.contacts__title {
  padding-bottom: calc(20 * 100vw / 1440);
}
.contacts__text {
  padding-bottom: calc(30 * 100vw / 1440);
}
.contacts__container .contacts__text:first-child {
  padding-bottom: 0;
}
.contacts__button {
  height: calc(42 * 100vw / 1440);
  width: 100%;
  border-radius: calc(21 * 100vw / 1440);
  font-size: calc(18 * 100vw / 1440);
  font-weight: bold;
  line-height: calc(22 * 100vw / 1440);
  color: white;
  background-color: black;
  margin-bottom: calc(86 * 100vw / 1440);
  cursor: pointer;
}
.contacts__social {
  display: flex;
  justify-content: space-between;
  padding-bottom: calc(45 * 100vw / 1440);
}
.contacts__text-small {
  font-size: calc(14 * 100vw / 1440);
  line-height: calc(17 * 100vw / 1440);
  color: #828282;
}
