<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <title>Landing</title>
</head>
<body>
  <script src="https://unpkg.com/vue@next"></script>
  <div class="wrapper">
    <div id="app">
      <header class="header">
        <div class="header__container">
          <div class="header__content">
            <a :href="header.home.link" class="header__item">{{ header.home[language] }}</a>
            <a :href="header.about.link" class="header__item">{{ header.about[language] }}</a>
            <a :href="header.skills.link" class="header__item">{{ header.skills[language] }}</a>
            <a :href="header.portfolio.link" class="header__item">{{ header.portfolio[language] }}</a>
            <a :href="header.contacts.link" class="header__item">{{ header.contacts[language] }}</a>
          </div>
        </div>
      </header>
      <main class="main">
        <section class="intro">
          <div class="intro__container">
            <div class="intro__content">
              <h1 class="intro__title">{{ intro.title[language] }}</h1>
              <div class="intro__text text">
                <div class="text__container">
                  <p v-for="string in intro.text">{{ string[language] }}</p>
                </div>
              </div>
              <div class="intro__language language">
                <p @click="changeLanguage('rus')" class="language__item">RU</p>
                <p class="language__item-decor">|</p>
                <p @click="changeLanguage('eng')" class="language__item">ENG</p>
              </div>
            </div>
            <div class="intro__cover">
              <img :src="intro.cover" alt="">
            </div>
          </div>
        </section>
        <section class="about">
          <a name="about"></a>
          <div class="about__container">
            <h2 class="about__title title">{{ about.title[language] }}</h2>
            <div class="about__text text">
              <div class="text__container">
                <p v-for="string in about.text">{{ string[language] }}<p/>
              </div>
            </div>
          </div>
        </section>
        <section class="skills">
          <a name="skills"></a>
          <div class="skills__container">
            <h2 class="skills__title title">{{ skills.title[language] }}</h2>
            <p class="skills__text text">{{ skills.text[language] }}</p>
            <div class="skills__content">
              <div class="skills__skill skill" v-for="skill in skills.list">
                <img :src="skill.cover" alt="" class="skill__cover">
                <p class="skill__title">{{ skill.title }}</p>
                <div class="skill__rating rating">
                  <img v-for="star in getStars(skill.rating)" :src="star" alt="" class="rating__star">
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="portfolio">
          <a name="portfolio"></a>
          <div class="portfolio__container">
            <div class="portfolio__title title">{{ portfolio.title[language] }}</div>
            <div v-for="card in portfolio.cards" class="portfolio__card card">
              <img :src="card.cover" alt="" class="card__cover">
              <a href="#" class="card__link">{{ card.link[language] }}</a>
            </div>
          </div>
        </section>
      </main>
      <footer class="contacts">
        <a name="contacts"></a>
        <div class="contacts__container">
          <h2 class="contacts__title title">{{ contacts.title[language] }}</h2>
          <div class="contacts__text text">
            <p v-for="string in contacts.text">{{ string[language] }}</p>
          </div>
          <button class="contacts__button">{{ contacts.button[language] }}</button>
          <div class="contacts__social social">
            <div class="social__item">
              <a :href="contacts.social[0].link">
                <img :src="contacts.social[0].icon" alt="">
              </a>
            </div>
            <div class="social__item">
              <a :href="contacts.social[1].link">
                <img :src="contacts.social[1].icon" alt="">
              </a>
            </div>
            <div class="social__item">
              <a :href="contacts.social[2].link">
                <img :src="contacts.social[2].icon" alt="">
              </a>
            </div>
            <div class="social__item">
              <a :href="contacts.social[3].link">
                <img :src="contacts.social[3].icon" alt="">
              </a>
            </div>
          </div>
          <p class="contacts__text-small text">{{ contacts.subtext[language] }}</p>
        </div>
      </footer>
    </div>
  </div>
  <script src="js/script.js"></script>
</body>
</html>
